/* h1{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* Defolt */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 *::before, ::after {
    box-sizing: border-box;
 }

.hero-image-conten > img{
   width: 100%;
}


/* Comon Style */
 .continar{
   width: 100%;
   max-width: 1200px;
   margin: auto;
 }

 body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
 }

h1,h2,h3{
   color: #181818;
}

.button{
   background-color: #FD6E0A;
   color: #fff;
   padding: 15px 25px;
   border-radius: 5px;
   border: none;
   font-weight: bold;
   /* font-size: 22px; */
   cursor: pointer;
}

.contactBtn{
   background: none;
   color: #FD6E0A;
   border: 1px solid #FD6E0A;

}


/* NavBar Style */

 .navclass{
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    /* background-color: red; */
    /* background-color: red; */
 }

.logo-r{
   color: #FD6E0A;
}

.navclass ul{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    font-size: 15px;
}

.navclass ul a{
    text-decoration: none;
    color: #333;
}


/* Hero Section Style */

.hero-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* width: ;
   height: 100vh; */
   background-color: #fff8f3;
}

.hero-text-conten h1{
   font-size: 40px;
   font-weight: bold;
   margin-bottom: 8px;
}

.hero-text-conten h2{
   font-size: 25px;
   font-weight: 600px;
   color: #757575;
}

.hero-text-conten p {
   font-size: 15px;
   font-weight: 400;
}

.hero-left-btn{
   padding-top: 15px;
}

/* Hero Style end */

/* About Section Style start */
.aboutCard{
   display: flex;
   justify-content: space-around;
   gap: 8px;
}

.about-section{
   background-color: #fff8f3;
   margin: 70px auto;
   text-align: center;
   border-radius: 10px;
   padding: 100px 100px;
}

.about-section p{
   margin: 10px 0;
   color: #757575;
}

.aboutCard h2{
   font-size: 20px;
   font-weight: 700;
   margin-bottom: 10px;
}

.aboutCard .acardBox{
   padding: 5px;
}


/* Card Box */

.imgIconDiv > img{
   width: auto;
}

.cardBoxPrants{
   display: flex;
   gap: 8px;
   padding: 50px 0;
}

.whatIDoDiscription{
   text-align: center;
}

.whatIDoDiscription p{
   margin: 0 185px;
   color: #757575;
}

.cardbox{
   box-shadow: 2px 2px 15px -3px #b8b8b8;
   padding: 30px;
   border-radius: 8px;
   margin: 15px;
   text-align: left;
}

.cardbox p{
   color: #757575;
   /* margin: 10px; */
}

.cardbox h2{
   padding: 20px 0px;
   font-size: 21px;
}

.cardbox > img{
   width: 40px;
}

/* Card Box End */

/* CV Style */

.resumeSection{
   display: flex;
   gap: 190px;
}

.buttonDiv {
   display: flex;
   justify-content: center;
   padding: 50px 0;
}

.resumePrants > h1{
   text-align: center;
   padding-bottom: 70px;
   font-size: 30px;
}

.cvClass > h1{
   font-size: 25px;
   padding-bottom: 20px;
   color: #474747;
}

.mastarsDiv{
   padding: 15px 0;
   border-bottom: 1px solid #d1d1d1;
}
.mastarsDiv > h1{
   font-size: 20px;
   color: #474747;
}
.mastarsDiv > h2{
   padding: 15px 0;
   font-size: 18px;
   color: #757575;
   
}

.mastarsDiv p{
   color: #757575;
}

.mastarsDiv:last-child{
   border: none;
}

/* CV Style End */

/* My work Protfolio Style Start */

.myWork{
   text-align: center;
}

/* .protfolioImages > div > img{
   height: auto;
} */

.protfolioImages {
    margin-top: 20px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;

    grid-template-areas:
        "one two three"
        "fore two six"
        "fore five six";
}

.protfolioImages img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-1 {
    grid-area: one;
}

.box-2 {
    grid-area: two;
}

.box-3 {
    grid-area: three;
}

.box-4 {
    grid-area: fore;
}

.box-5 {
    grid-area: five;
}

.box-6 {
    grid-area: six;
}

/* Gallary Portfolio Style End */

/* footer Style Start */

.futtarSection {
   background-color: #fff8f3;
   padding: 100px 0;
}

.futarSection{
   display: flex;
}

.masageInport input{
   display: block;
}

.contactLeft p{
   color: #474747;
   padding: 25px 0;
}

.svg-inline--fa{
   color: #FD6E0A;
   font-size: 25px;
}

.footerIcon{
   padding-right: 10px;
   display: flex;
   gap: 25px;
}

.comonMas h1{
   font-size: 30px;
}

.comonMas input, textarea{
   border: none;
   margin-bottom: 10px;
   width: 100%;
   height: 30px;
   padding: 20px;
   outline: none;
   font-family: 'Open Sans', sans-serif;
}

.comonMas textarea{
   height: 160px;
   resize: none;
}

.masageContact{
   /* padding-left: 100px; */
   /* padding-left: 117px; */
    width: 535px;
}

.contactLeft{
   padding-right: 250px;
}